In [1]:
import pandas as pd

In [2]:

df=pd.read_csv("2m Sales Records.csv")

In [3]:
df

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138.0,5/23/2011,4300.0,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377.0,8/1/2018,4145.0,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166.0,7/17/2011,6407.0,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836.0,5/11/2011,2810.0,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212.0,12/29/2013,2110.0,9.33,6.92,19686.30,14601.20,5085.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873788,Asia,Japan,Beverages,Offline,L,7/27/2017,789821135.0,8/17/2017,4480.0,47.45,31.79,212576.00,142419.20,70156.80
873789,Asia,Sri Lanka,Clothes,Online,H,7/18/2016,719776856.0,7/30/2016,6822.0,109.28,35.84,745508.16,244500.48,501007.68
873790,Sub-Saharan Africa,Gabon,Cosmetics,Offline,L,9/3/2017,345589816.0,9/17/2017,6561.0,437.20,263.33,2868469.20,1727708.13,1140761.07
873791,Asia,Bhutan,Baby Food,Offline,M,9/3/2014,803246343.0,9/16/2014,7298.0,255.28,159.42,1863033.44,1163447.16,699586.28
873792,Europe,Belarus,Snacks,Offline,C,10/21/201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Australia and Oceania,Australia,Meat,Online,C,4/4/2011,451691138.0,5/23/2011,4300.0,421.89,364.69,1814127.00,1568167.00,245960.00
1,Asia,Tajikistan,Personal Care,Online,L,7/12/2018,144177377.0,8/1/2018,4145.0,81.73,56.67,338770.85,234897.15,103873.70
2,Sub-Saharan Africa,Mozambique,Cosmetics,Online,H,7/6/2011,982716166.0,7/17/2011,6407.0,437.20,263.33,2801140.40,1687155.31,1113985.09
3,Central America and the Caribbean,Panama,Personal Care,Offline,L,5/1/2011,784543836.0,5/11/2011,2810.0,81.73,56.67,229661.30,159242.70,70418.60
4,North America,Canada,Fruits,Online,H,11/15/2013,137209212.0,12/29/2013,2110.0,9.33,6.92,19686.30,14601.20,5085.10
5,Europe,Italy,Fruits,Offline,C,7/16/2016,148573625.0,7/18/2016,5092.0,9.33,6.92,47508.36,35236.64,12271.72
6,Europe,Romania,Beverages,Offline,C,11/15/2012,196810901.0,12/1/2012,9574.0,47.45,31.79,454286.30,304357.46,149928.84
7,Australia and Oceania,Australia,Cosmetics,Offline,L,4/30/2019,180407369.0,5/25/2019,5404.0,437.20,263.33,2362628.80,1423035.32,939593.48
8,Europe,Bosnia and Herzegovina,Cosmetics,Offline,C,5/29/2016,968161857.0,6/8/2016,9463.0,437.20,263.33,4137223.60,2491891.79,1645331.81
9,Asia,Japan,Clothes,Online,M,3/25/2018,349185693.0,4/8/2018,661.0,109.28,35.84,72234.08,23690.24,48543.84